# Gradle
.gradle/
build/
out/
bin/
!gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
/key
# Eclipse
.settings/
.project
.classpath
*.launch
bin/

# VSCode
.vscode/

# Logs
logs/
*.log
*.log.*

# Spring Boot
/target/
!src/main/resources/application.properties
!src/main/resources/application.yml

container/

# Dependency directories
**/lib/
**/libs/

# Mac OS
.DS_Store

# Windows
Thumbs.db

# Environment files
.env
*.env

# Application properties
**/application-*.properties
**/application-*.yml

# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# Maven (if you're using Maven alongside Gradle)
target/
pom.xml
pom.xml.asc
*.releaseBackup

# Gradle Wrapper
gradle-wrapper.properties

# Local configuration files
*.orig
*.bak

# Other
*.swp
*.swo
*~